*.pyc
/result_PBS_backup
/data
/part_seg/PartAnnotation/
/part_seg/hdf5_data/
part_seg/PartAnnotation.zip
part_seg/hdf5_data.zip
part_seg/PBS/train_results/trained_models
dump
sem_seg/indoor3d_sem_seg_hdf5_data*
sem_seg/indoor3d_sem_seg_hdf5_data.zip*
sem_seg/out*
sem_seg/PBS_result
*.swp
*.ropeproject
sem_seg/Stanford3dDataset_v1.2*
x_data
sem_seg/test.py
part_seg/test_results
x_sem_seg/log6
*.sh.e*
*.sh.o*
x_sem_seg/PBS/
*PBS
